a{
  text-decoration: none;
}

body{
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

nav{
  background-color: red;
  position: relative;

}

nav li{
  display: inline-block;
  width: 30%;
  margin: auto;
  text-align: center;
}

a:visited{
  color: white;
}

nav, aside{
  color: blue;
}

section{
  border: 10px solid black
}
